<div class="challenge-progress-step">
  <span>1</span>
  <span>2</span>
  <span>3</span>
  <span>4</span>
  <span>5</span>
</div>

<div class="progress-bar-container">
  <div class="progress-path"></div>
  <div class="progress-complete" style="width: {{progressBarWidths.[0]}}%;"></div>
  <div class="dots-container">
    <span class="progress-bar-dot"></span>
    <span class="progress-bar-dot"></span>
    <span class="progress-bar-dot"></span>
    <span class="progress-bar-dot"></span>
    <span class="progress-bar-dot"></span>
  </div>
</div>
