<div class="progress-bar-container">
  {{#each this.steps as |step|}}
    <div class="progress-bar-step {{step.status}}" style={{valueGaugeStyle}}>
      {{progress-bar-item stepnum=step.stepnum}}
    </div>
  {{/each}}
</div>
