<h1 class="rounded-panel-title skill-review-result__abstract">
  Vous maîtrisez
  <span class="skill-review-result-abstract__percentage">
    {{@masteryPercentage}}%
  </span>
  <br> des compétences testées.
</h1>
