<div class="skill-review-result__table-header">
  <h2 class="rounded-panel-subtitle">Vos résultats détaillés</h2>
  <CircleChart @value={{@masteryPercentage}}>
    <span class="skill-review-table-header__circle-chart-value">
      {{@masteryPercentage}}%
    </span>
  </CircleChart>
</div>
