.certification-banner {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 270px;
  background: $pix-emerald-to-emerald-gradient;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  color: $white;
}

.certification-banner-container {
  display: flex;
  align-items: center;
  min-height: 80px;
  max-width: 990px;
  width: 100%;
  padding-right: 10px;

  @include device-is('desktop') {
    min-height: 100px;
    padding: 0;
  }
}

.certification-banner__title {
  font-size: 1.4rem;
  font-family: $font-open-sans;

  @include device-is('desktop') {
    font-size: 1.75rem;
  }
}

.certification-banner__title h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: $font-light;

  @include device-is('desktop') {
    font-size: 2.4rem;
    font-weight: $font-normal;
  }
}

.certification-banner__pix-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.certification-banner__pix-logo img {
  position: relative;
  top: 4px;
  right: -8px;
}

.certification-banner__splitter {
  width: 1px;
  background: $mercury-grey;
  height: 40px;
  margin: 0 10px;

  @include device-is('desktop') {
    margin: 0 20px;
  }
}

.certification-banner__certification-number {
  margin-left: auto;
  text-align: right;
  color: $white;
  width: 150px;
}

.certification-number__label {
  opacity: 0.5;
  text-transform: uppercase;
}

.certification-number__value {
  font-size: 3rem;
  font-weight: bold;
}
