.progress-bar-container {
  margin-bottom: 60px;
  margin-top: 15px;
  position: relative;

  span.dot {
    background: red;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    margin: 2px;
  }
}

.progress-bar-step {
  position: relative;
  float: left;
}

.progress-bar-stepnum {
  text-align: center;
  opacity: 0.3;
  color: $black;
  font-size: 16px;
}

.progress-bar-progression {
  position: relative;
  height: 15px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.progress-bar-progression-progress {
  width:0px;
  background: $white;
  height: 100%;
}

.progress-bar-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background: $white;
  top: 45px;
  left: 50%;
  margin-top: -18px;
  margin-left: -8px;
  border-radius: 50%;
}

.progress-bar-step {
  .progress-bar-dot:after {
    content: ' ';
    width: 10px;
    height: 10px;
    background: $dogder-blue;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    left: 3px;
  }
}

.progress-bar-step.complete {
  .progress-bar-progression-progress {
    width: 100%;
  }
}

.progress-bar-step.active {
  .progress-bar-progression-progress {
    width: 50%;
  }
}

.progress-bar-step.complete,
.progress-bar-step.active {
  .progress-bar-stepnum {
    color: $white;
    opacity: 1;
  }
}

.progress-bar-step:first-child.active {
  .progress-bar-progression-progress {
    width: 0%;
  }
}

.progress-bar-step:last-child.active {
  .progress-bar-progression-progress {
    width: 100%;
  }
}

.progress-bar-step:first-child {
  .progress-bar-progression {
    left: 50%;
    width: 50%;
  }
}

.progress-bar-step:last-child {
  .progress-bar-progression {
    width: 50%;
  }
}
